@model List<Empleados>
@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Empleados</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">RFC</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var usuario in @Model)
        {
            <tr>
                <th scope="row">@usuario.EmpleadoId</th>
                <td>@usuario.VcEmpsRfc</td>
                <td>@usuario.VcEmpsNombre</td>
                <td>@usuario.VcEmpsApellido</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <a href="~/../Empleado/CrearEmpleado/">Nuevo empleado</a>
</div>
