@{
    ViewData["Title"] = "Inventario de herramientas - Silo Comunicaciones";
}

<h2>Inventario de herramienta</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID Herramienta</th>
                <th scope="col">Herramienta</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha de ingreso</th>
                <th scope="col">Cantidad disponible</th>
                <th scope="col">Fecha de Act.</th>
            </tr>
        </thead>
        <!--
        <tbody>
            //foreach (var brand in Model)
            {
                <tr>
                    <th scope="row">brand.BrandId</th>
                    <td>brand.VcBrandName</td>
                    <td>brand.VcBrandDesc</td>
                    <td><a href="~/../Marca/EditarMarca/brand.BrandId">Editar</a></td>
                    <td><a href="~/../Marca/BorrarMarca/brand.BrandId">Eliminar</a></td>
                </tr>
            }
        </tbody>-->
    </table>
</div>
<div>
    <p>
        <a href="">Agregar nueva herramienta</a>
        <a href="">Agregar herramientas compradas</a>
    </p>
</div>
