@model Lending
@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Se ha creado un Nuevo folio para Préstamo</h2>

<form method="POST">
    <div>
        <input type="submit" value="Regresar"/>
    </div>
</form>